[class*='col-'] {
  float: left;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
[class*='col-'] {
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.grid {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #e1e1e1;
}

.module {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
	padding: 20px;
	text-align: center;
	color: #666;
  width: 300px;
  height: 300px;
  background-color: #fff;
	border-radius: 2px;
}
h4 {
  position: relative;
  font-size: 1.4em;
}
button {
  border-radius: none;
  border: none;
  color: #eee;
  padding: 10px 15px;
  background-color: rgb(85, 144, 173);
}

.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
	.module {
	  font-size: 10px;
	  max-height: 75px;
  }
  .col-1-4 {
    width: 50%;
  }
}
@media (max-width: 1024px) {
	.grid {
	  margin: 0;
	}
	.module {
	  min-width: 60px;
	}
}
