<h3>My Account</h3>
<div class="wrapper">
  <div class="container">
    <form>
      <fieldset>
        <label for="fname">First Name</label>
        <input name="fname" type="text" />
      </fieldset>
      <fieldset>
        <label for="lname">Last Name</label>
        <input type="text" name="lname" />
      </fieldset>
      <fieldset>
        <label for="email">Email</label>
        <input type="email" name="email" />
      </fieldset>
      <fieldset>
        <label for="password">Password</label>
        <input type="password" name="password" />
      </fieldset>
    </form>
    <a href="#" (click)="cancel()">Cancel</a>
    <button (click)="saveAccount()">Save</button>
  </div>
</div>